@page {
  margin: 1cm;
}

h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  page-break-before: always;
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

ul {
  page-break-inside: avoid;
  text-align: justify;
  font-size: 16px;
}

pre {
  page-break-inside: avoid;
  margin-left: 1.5cm;
  font-size: 16px;
  font-style: italic
}

table {
    width: 100%;
    font-family: monospace;
    /*table-layout: fixed;*/
}

th, td {
    border-bottom: 1px solid #ddd;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  /*word-break: break-all;*/
}
