/* # Page formatting */
@page {
  size: A4 portrait;
  margin: 1cm;
}


/* # Header formatting */
h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  page-break-before: always;
  font-size: 28px;
  -weasy-bookmark-level: none;
}

h3 {
  font-size: 24px;
  -weasy-bookmark-level: none;
}

h4 {
  font-size: 20px;
  -weasy-bookmark-level: none;
}

h5 { -weasy-bookmark-level: none; }
h6 { -weasy-bookmark-level: none; }


/* # List (journal entry) formatting */
ul {
  list-style-image: url('hammer_and_pick.svg');
}

li {
  page-break-inside: avoid;
  text-align: justify;
  font-size: 16px;
}


/* # Fenced block (limericks, etc) formatting */
pre {
  page-break-inside: avoid;
  margin-left: 1.5cm;
  font-size: 16px;
  font-style: italic
}


/* # Title page formatting */
h1:after {
  content: url('../../../campaigns/prydain/pc/durg/durg_img_mini.png');
}

#created_with {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  font-family: monospace;
  font-size: 10px;
}


/* # Calendar formatting */
#calendar {
  page-break-before: always;
  font-size: 28px;
  -weasy-bookmark-level: 2;
  -weasy-bookmark-label: content(text)
}

table {
  width: 100%;
  font-family: monospace;
  border-spacing: 0px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  /*word-break: break-all;*/
}
